<html>
	<head>
		<title>Jakob's blog</title>
	<head>
	<body>
		<div>
			<h1><a href="">Jakob's Blog</a></h1>
		</div>
		
		<div>
			<p>published: 14.08.2014, 12:14</p>
			<h2><a href="">My first post</a><h2>
			<p>This is not a very good post......!</p>
		</div>
		
		<div>
			<p>published: 14.08.2014, 12:14</p>
			<h2><a href="">My second post</a><h2>
			<p>This is not a very good post......!</p>
		</div>
			
		<div>
			<p>published: 14.08.2014, 12:14</p>
			<h2><a href="">My third post</a><h2>
			<p>This is not a very good post......!</p>
		</div>
	</body>
</html>